In [21]:
import pandas as pd

numbers = [1, 2, 3, 4, 5]

series = pd.Series(numbers)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [22]:
import pandas as pd

numbers = [1, 2, 3, 4, 5, '234']

series = pd.Series(numbers)
series

0      1
1      2
2      3
3      4
4      5
5    234
dtype: object

In [23]:
import pandas as pd

numbers = ["Hello"]

series = pd.Series(numbers)
series

0    Hello
dtype: object

In [24]:
import pandas as pd

numbers = ["Hello", 2, 3.1 ]

series = pd.Series(numbers)
series

0    Hello
1        2
2      3.1
dtype: object

In [30]:
import pandas as pd

numbers = ["Hello", 2, 3.1 ]

series = pd.Series(numbers)
series[0]

'Hello'

In [43]:
import pandas as pd
names = ['John', 'Jane', "Alice"]
ages = [25, 30, 27]

series_with_name = pd.Series(data = ages, index=names)
series_with_name

John     25
Jane     30
Alice    27
dtype: int64

In [44]:
import pandas as pd
names = ['John', 'Jane', "Alice"]
ages = [25, 30, 27]

series_with_name = pd.Series(data = ages, index=names)

f"Jane age: {series_with_name['Jane']}"

'Jane age: 30'

In [45]:
import pandas as pd
nnames = ['John', 'Jane', "Alice"]
ages = [25, 30, 27]

series_with_name = pd.Series(data = ages, index=names)

print(f"Jane age: {series_with_name['Jane']}")

Jane age: 30

In [46]:
import pandas as pd
nnames = ['John', 'Jane', "Alice"]
ages = [25, 30, 27]

series_with_name = pd.Series(data = ages, index=names)

f"Jane age: {series_with_name[1]}"

'Jane age: 30'

In [65]:
import pandas as pd
nnames = ['John', 'Jane', "Alice"]
ages = [25, 30, 27]

series_with_name = pd.Series(data = ages, index=names)

series_with_name['Jane'] = 24

series_with_name

John     25
Jane     24
Alice    27
dtype: int64

In [106]:
data = {
    'Bob': ['I like That', "That was awful"],
    "Sue": ['Pretty Good', 'Tasty']
}

series = pd.Series(data=data, index=['Bob', "Sue"])
series

Bob    [I like That, That was awful]
Sue             [Pretty Good, Tasty]
dtype: object

In [107]:
data = {
    'Bob': ['I like That', "That was awful"],
    "Sue": ['Pretty Good', 'Tasty']
}

series = pd.Series(data=data)
series

Bob    [I like That, That was awful]
Sue             [Pretty Good, Tasty]
dtype: object

In [108]:
data = {
    'Bob': ['I like That', "That was awful"],
    "Sue": ['Pretty Good', 'Tasty']
}

series = pd.Series(data=data, index=['Alice', "John"])
series

Alice    NaN
John     NaN
dtype: object

In [109]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['a', 'b', 'c'])
ser

a    1
b    2
c    3
dtype: int64

In [110]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['x', 'y', 'z'])
ser

x   NaN
y   NaN
z   NaN
dtype: float64

In [111]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d)
ser

a    1
b    2
c    3
dtype: int64

In [112]:
data = {
    'Bob': ['I like That', "That was awful"],
    "Sue": ['Pretty Good', 'Tasty']
}

pd.DataFrame(data=data)

              Bob          Sue
0     I like That  Pretty Good
1  That was awful        Tasty

In [114]:
data = {
    'Bob': ['I like That', "That was awful"],
    "Sue": ['Pretty Good', 'Tasty']
}

pd.DataFrame(data=data, index=('Product A', 'Product B'))

                      Bob          Sue
Product A     I like That  Pretty Good
Product B  That was awful        Tasty

In [140]:
data = [30, 15, 41]

series = pd.Series(data=data, index=["A", "B", "C"], name = 'Products')
series

A    30
B    15
C    41
Name: Products, dtype: int64

In [141]:
series.name

'Products'

In [142]:
series.index

Index(['A', 'B', 'C'], dtype='object')