In [3]:
# task 1

import pandas as pd

ser = pd.Series(range(10))
ser

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [17]:
import pandas as pd

ser = pd.Series(range(10), range(1, 11))
ser

1     0
2     1
3     2
4     3
5     4
6     5
7     6
8     7
9     8
10    9
dtype: int64

In [18]:
ser.index

RangeIndex(start=1, stop=11, step=1)

In [22]:
# task 2

import string

letters = list(string.ascii_uppercase[0:10])

letters

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [23]:
ser.index = letters

ser

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [24]:
ser.name = 'letters and number'

In [25]:
ser

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
Name: letters and number, dtype: int64

In [48]:
#task 3

ser.loc['C']

2

In [49]:
ser["C"]

2

In [50]:
ser > 5

A    False
B    False
C    False
D    False
E    False
F    False
G     True
H     True
I     True
J     True
Name: letters and number, dtype: bool

In [51]:
ser[ser > 5]

G    6
H    7
I    8
J    9
Name: letters and number, dtype: int64

In [53]:
# task 4

ser**2

A     0
B     1
C     4
D     9
E    16
F    25
G    36
H    49
I    64
J    81
Name: letters and number, dtype: int64

In [54]:
ser.sum()

45

In [55]:
sum(ser)

45

In [57]:
import numpy as np

np.sum(ser)

45

In [59]:
ser

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
Name: letters and number, dtype: int64

In [58]:
ser + ser

A     0
B     2
C     4
D     6
E     8
F    10
G    12
H    14
I    16
J    18
Name: letters and number, dtype: int64

In [60]:
ser - ser

A    0
B    0
C    0
D    0
E    0
F    0
G    0
H    0
I    0
J    0
Name: letters and number, dtype: int64

In [61]:
ser / ser

A    NaN
B    1.0
C    1.0
D    1.0
E    1.0
F    1.0
G    1.0
H    1.0
I    1.0
J    1.0
Name: letters and number, dtype: float64

In [101]:
# task 5
import pandas as pd

ser = pd.Series(range(10), range(1, 11))
ser.index = letters
ser

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [102]:
def increase_by_two(x):
    return x +2

ser.map(increase_by_two)

A     2
B     3
C     4
D     5
E     6
F     7
G     8
H     9
I    10
J    11
dtype: int64

In [103]:
ser.map(lambda x: x+2)

A     2
B     3
C     4
D     5
E     6
F     7
G     8
H     9
I    10
J    11
dtype: int64

In [99]:
ser.apply(increase_by_two)

A     2
B     3
C     4
D     5
E     6
F     7
G     8
H     9
I    10
J    11
dtype: int64

In [104]:
ser.apply(lambda x: x+2)

A     2
B     3
C     4
D     5
E     6
F     7
G     8
H     9
I    10
J    11
dtype: int64

In [105]:
ser

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64